@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn80 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translate3d(0, 35px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translate3d(0, -35px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInBigBottom {
    from {
        opacity: 0;
        transform: translateY(200%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(35px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-35px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scaleInTopRight {
    from {
        transform: translateX(100%);
        height: 0;
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        height: 100%;
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.65);
    }
    to {
        transform: scale(1);
    }
}

@keyframes scaleInSmall {
    from {
        opacity: 0;
        transform: scale(0.98);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
